<script type="text/javascript" src="/assets/js/app.js"></script>
 <p>Create a note</p> <br>
 <form>
   <input type="text" name="note">
   <button id="createNote">Create Note</button>
 </form>
 <p>Index Handlebars was loaded</p>
 <p id="content"></p> 
<br>
 <h1>Saved Articles</h1>
 <br>
 <p id="saved"></p>
  
  
  
 
    <!--{{#each context.articleContext}}
        <h3>{{title}}</h3>
        <p>{{summary}}</p>
        <h5>{{url}}</h5>
    {{/each}}-->


 <!--{{#each articles}}
          <form action="articles/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}.{{articleContext}}</li>
            </div>
          </form>
        {{/each}}
</script>-->

