<script type="text/javascript" src="/assets/js/app.js"></script>
 
 <p>Index Handlebars was loaded</p>
 <p id="content"></p> 
  
  
  
 
    <!--{{#each context.articleContext}}
        <h3>{{title}}</h3>
        <p>{{summary}}</p>
        <h5>{{url}}</h5>
    {{/each}}-->


 <!--{{#each articles}}
          <form action="articles/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}.{{articleContext}}</li>
            </div>
          </form>
        {{/each}}
</script>-->

